.header {
  background-image: url("./images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

nav {
  a {
    color: black;
    font-family: "Raleway";
  }
}

.logo,
.logo-small {
  font-family: "Pacifico";
}

.navbar-brand {
  font-size: 50px;
}
