.subscribe {
  background-color: white;
  background-image: url("./images/subscribe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  min-height: 500px;
}

.form-control {
    width: 100% !important; 
}