.header {
  background-image: url("./images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw; }

nav a {
  color: black; }

.about-us__image {
  background-image: url("./images/about.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.about-us {
  background-color: #00c3c3; }

.services__image {
  background-image: url("./images/services.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.services {
  background-color: #70beff; }

.service__item {
  height: 80px; }
  .service__item img {
    height: 50%; }

.gallery {
  background-color: #ffe92f; }

.subscribe {
  background-color: white;
  background-image: url("./images/subscribe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  min-height: 500px; }

.form-control {
  width: 100% !important; }
