.header {
  background-image: url("./images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw; }

nav a {
  color: black; }

.about-us__image {
  background-image: url("./images/about.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.about-us {
  background-color: #00c3c3; }

.services__image {
  background-image: url("./images/services.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.services {
  background-color: #70beff; }

.service__item {
  height: 80px; }
  .service__item img {
    height: 50%; }

.gallery {
  background-color: #ffe92f; }

.subscribe {
  background-color: white;
  background-image: url("./images/subscribe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  min-height: 500px; }

.form-control {
  width: 100% !important; }

.blog {
  background-color: #b07bf7; }

.blog-post {
  height: 300px; }

.blog-post {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.blog-post__date {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 80px;
  height: 80px; }

.blog-post__title {
  z-index: 2; }

.blog-post__gradient {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, black 95%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(64%, rgba(0, 0, 0, 0)), color-stop(95%, black), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, black 95%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, black 95%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, black 95%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, black 95%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); }

.contact {
  background-image: url("./images/contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .contact input,
  .contact textarea {
    background-color: rgba(0, 195, 195, 0.5) !important;
    color: white; }
    .contact input::placeholder,
    .contact textarea::placeholder {
      color: white; }

.footer {
  background-color: #252525; }
