@import "./scss/sections/header";
@import "./scss/sections/about-us";
@import "./scss/sections/services";
@import "./scss/sections/gallery";
@import "./scss/sections/subscribe";
@import "./scss/sections/blog";
@import "./scss/sections/contact";
