@font-face {
  font-family: "Raleway Regular";
  src: url("./fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("./fonts/raleway/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("./fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Black";
  src: url("./fonts/raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/pacifico/Pacifico.ttf");
}
